head{
   background-color: #fff5e7;
    color: white;
    padding: 15px;
    text-align: center;


}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;


}
p1 {
    color: red;
    text-align: center;

}