body {
    background-color: #f5e8d1;
    font-family: Arial, sans-serif;
    padding: 0px;
    margin: 0px;
}

header {
    background-color: white;
    padding: 20px 0 0 0;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

h1 {
    color: #e76d26;
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}

h2 {
    color: #3f62a7;
    text-align: center;
}

p1 {
    color: red;
    text-align: center;
}

p2 {
    color: #f18900;
    text-align: center;
}

a {
    color: #3f62a7;
    padding: 5px;
    border-radius: 4px;
    margin: 10px;

}

nav {
    text-align: center;
    margin-bottom: 30px;
}

nav a {
    color: #333;
    text-decoration: none;
    margin: 0 20px;
    font-size: 14px;
}

nav a:hover {
    color: #e76d26;
}