head{
    background-color: #f5e8d9;
    color:#3c75e6;
    stroke: 1px;
    font-size: 12px;
    padding: 10px;
    border: none;
    border-radius: 2px;

}

body {
    background-color: #ffffff;
    color:#3c75e6;
    stroke: 1px;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 2px;
    word-spacing: 1px;

}

h1 {
    color: #3f62a7;
    stroke: 3px;
}
p1 {
    color: red;
}

p2 {
    color: #f18900;
}

a {
    color: #3f62a7;
    border: 2px solid #3f62a7;
    padding: 2px;
    text-decoration: none;
    border-radius: 4px;
    



}