body {
    background-color: #f5e8d1;
    font-family: Arial, sans-serif;
    padding: 10px;
}

h1 {
    color: #3f62a7;
    text-align: center;
}

h2 {
    color: #3f62a7;
    text-align: center;
}

p1 {
    color: red;
    text-align: center;
}

p2 {
    color: #f18900;
    text-align: center;
}

a {
    color: #3f62a7;
    border: 2px solid #3f62a7;
    padding: 5px;
    text-decoration: none;
    border-radius: 4px;
    margin: 10px;

}