head{
   background-color: #2c3e50;
    color: white;
    padding: 15px;
    text-align: center;

}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;

}

h1 {
    color: #3f62a7;
    stroke: 3px;
}
p1 {
    color: red;
}

p2 {
    color: #f18900;
}

a {
    color: #3f62a7;
    border: 2px solid #3f62a7;
    padding: 2px;
    text-decoration: none;
    border-radius: 4px;
    



}