body {
    background-color: #f5e8d1;
    font-family: Arial, sans-serif;
    padding: 10px;
}

h1 {
    color: #e76d26;
    text-align: center;
}

p1 {
    color: red;
    text-align: center;
}

a {
    color: #3f62a7;
    border: 2px solid #3f62a7;
    padding: 5px;
    text-decoration: none;
    border-radius: 4px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    background-color: #ff9966;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
}

textarea {
    padding: 10px;
    margin: 10px;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #666;
}