head{
    background-color: #E5E7EB;
    color:#3c75e6;
    stroke: 1px;
    font-size: 12px;
    padding: 10px;
    border: none;
    border-radius: 2px;

}

body {
    background-color: #ffffff;
    color:#3c75e6;
    stroke: 1px;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 2px;

}
h1 {
 color: #e76d26;
    stroke: 3px;
}
p1 {

    color: red;

}

a {
    color: #3f62a7;
    border: 2px solid #3f62a7;
    padding: 5px;
    text-decoration: none;
    border-radius: 4px;
    word-spacing: 4px;
}